* {
    margin: 0;
    padding: 0;
}
header, section {
    background-color: #cff4d3;
    padding: 120px 80px 20;
    margin: 20px 140px;
    border: 5px solid rgb(1, 1, 23);
}

header ul {
    color: #fff;
inset-inline: 80vw;
    
}

header  {
    color: white;
    text-decoration: none;
    background-color: rgb(31, 13, 0);
}

header a:hover {
    color: rgb(249, 241, 9);
    background-color: rgb(6, 150, 18);
}
button {
    font-size:29px;
    background-color:rgb(12, 234, 189);
}
